# Ignore python bytecode files and pycache folders. 
*.pyc 
__pycache__/

# Ignoring test.py because it's a test file (scratch stuff)
test.py

# Ignore vscode local configuration (if used)
.vscode/

# Ignore jupyter notebook checkpoint folders
.ipynb_checkpoints/


